<template>
  <div>
    <v-progress-linear background-color="blue" color="white" indeterminate v-show="isLoading" />
    <v-row></v-row>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">S.N</th>
            <th class="text-left">Code</th>
            <th class="text-left">Name</th>
            <th class="text-left">Address</th>
            <th class="text-left">Contact Number</th>
            <th class="text-left" style="width:150px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(bank, ind) in banks" :key="bank.id">
            <td>{{ ind + 1 }}</td>
            <td>{{ bank.code }}</td>
            <td>{{ bank.name }}</td>
            <td>{{ bank.address ? bank.address : "N/A" }}</td>
            <td>{{ bank.phone ? bank.phone : "N/A" }}</td>
            <td>
              <router-link
                style="text-decoration:none;"
                :to="{ name: 'bank', params: { id: bank.id } }"
              >
                <v-btn icon>
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </router-link>
              <v-btn @click.stop="edit(bank.id)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn @click.stop="confirmDelete(bank.id)" color="red" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div class="text-center" v-if="pagination.show">
      <PaginationComponent :length="pagination.length" :page="pagination.page" @goto="paginateTo" />
    </div>
    <v-layout justify="center">
      <v-dialog v-model="deleteDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
          <v-card-text>This item will be deleted permanently</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            <v-btn color="red darken-1" text @click.stop="destroy(bank.id)">Delete Item</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout justify="center">
      <v-dialog v-model="showDialog" max-width="900px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ isNew ? "Create" : "Edit" }} Bank</span>
          </v-card-title>
          <v-form lazy-validation v-model="valid">
            <v-container style="padding:20px;">
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field v-model="bank.code" label="Bank Code*" :rules="codeRules" required></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field v-model="bank.name" label="Bank Name*" :rules="nameRules" required></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field v-model="bank.address" label="Bank Address"></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="bank.phone" label="Contact Number"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <v-alert type="error" dense outline v-if="errorMessages.length !== 0">
            <div v-for="message in errorMessages" :key="message[0]">{{ message[0] }}</div>
          </v-alert>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click.stop="showDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click.stop="store()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-fab-transition>
        <v-btn @click="create" color="secondary" fixed large bottom right fab>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-fab-transition>
      <errorSnackBar :snackbar="snackbar" :itemName="'Bank'" @closeSnackBar="snackbar = false"></errorSnackBar>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { BankService } from "../services/web";
import PaginationComponent from "../components/PaginationComponent";
import errorSnackBar from "../components/errorSnackBar";

export default {
  components: {
    PaginationComponent: PaginationComponent,
    errorSnackBar
  },
  mounted() {
    if (!this.isAuthenticated) this.$router.push({ name: "login" });
    this.index();
  },
  methods: {
    index: function(page = 1) {
      this.isLoading = true;
      BankService.query({
        page,
        query: this.query
      }).then(response => {
        this.banks = response.data;
        this.handlePagination(response.data);
        this.isLoading = false;
      });
    },
    handlePagination(pd) {
      this.pagination.length = pd["last_page"];
      this.pagination.page = pd["current_page"];
      if (this.pagination.length > 1) {
        this.pagination.show = true;
      }
    },
    paginateTo(page) {
      this.index(page);
    },
    clearSearch() {
      this.query = "";
      this.index();
    },
    edit: function(id) {
      this.showDialog = true;
      this.isNew = false;
      this.isLoading = true;
      this.errorMessages = [];
      this.emptyBank();
      BankService.edit(id).then(response => {
        window.console.log(response);
        let bank = response.data;
        this.bank.id = bank.id;
        this.bank.code = bank.code;
        this.bank.name = bank.name;
        this.bank.address = bank.address;
        this.bank.phone = bank.phone;
        this.isLoading = false;
      });
    },
    create: function() {
      this.emptyBank();
      this.isNew = true;
      this.showDialog = true;
      this.errorMessages = [];
    },
    store: function() {
      this.isLoading = true;
      if (!this.isNew) {
        return this.update();
      }
      BankService.store(this.bank)
        .then(() => {
          this.errorMessages = [];
          this.showDialog = false;
          this.isLoading = false;
          this.index();
        })
        .catch(error => {
          this.isLoading = false;
          let response = error.response;
          if (response.status == 422) {
            this.errorMessages = response.data.errors;
          }
        });
    },
    update: function() {
      BankService.update(this.bank.id, this.bank).then(() => {
        this.showDialog = false;
        this.isLoading = false;
        this.index();
      });
    },
    confirmDelete: function(id) {
      this.bank.id = id;
      this.deleteDialog = true;
    },
    destroy: function(id) {
      this.isLoading = true;
      BankService.destroy(id)
        .then(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.index();
        })
        .catch(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.snackbar = true;
        });
    },
    emptyBank: function() {
      this.bank.id = null;
      this.bank.code = null;
      this.bank.name = null;
      this.bank.phone = null;
      this.bank.address = null;
      this.errorMessages = [];
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated"])
  },
  data: () => ({
    snackbar: false,
    banks: [],
    query: "",
    deleteDialog: false,
    showDialog: false,
    isNew: true,
    isLoading: true,
    codeRules: [v => !!v || "Bank Code is required"],
    nameRules: [v => !!v || "Bank Name is required"],
    valid: false,
    bank: {
      id: null,
      code: "",
      name: "",
      phone: "",
      address: ""
    },
    errorMessages: [],
    pagination: {
      page: 0,
      length: 0,
      show: false
    }
  })
};
</script>
