 <style scoped>
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    width: 210mm;
    /* height: 297mm; */
    height: 282mm;
    font-size: 11px;
    background: #fff;
    overflow: visible;
  }

  body {
    padding-top: 15mm;
  }
}
</style><template>
  <div>
    <v-progress-linear background-color="blue" color="white" indeterminate v-show="isLoading" />
    <p style="text-align:center;">{{bank.name}} : Current Bank Report</p>
    <!-- <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">S.N</th>
            <th class="text-left">Date</th>
            <th class="text-left">Cheque No.</th>
            <th class="text-left">Balance</th>
            <th class="text-left">Receive/Issue</th>
            <th class="text-left">Person Involved</th>
            <th class="text-left d-print-none" style="width:150px">Print</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(cheque, ind) in bank.cheques" :key="cheque.id">
            <td>{{ ind+1 }}</td>
            <td>{{ cheque.date }}</td>
            <td>{{cheque.number}}</td>
            <td>{{ cheque.amount }}</td>
            <td>{{ cheque.type }}</td>
            <td>{{ cheque.person_involved}}</td>
            <td class="d-print-none">
              <router-link :to="{ name: 'exportCheque', params:{ id: cheque.id } }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon>
                      <v-icon v-on="on">mdi-file-pdf</v-icon>
                    </v-btn>
                  </template>
                  <span>Generate</span>
                </v-tooltip>
              </router-link>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>-->
    <v-card>
      <v-card-title style="width:20%;">
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="bank.cheques" :search="search">
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.date }}</td>
            <td>{{ row.item.type }}</td>
            <td>{{ row.item.number }}</td>
            <td>{{ row.item.amount }}</td>
            <td>{{ row.item.person_involved }}</td>
            <!-- <td class="d-print-none">
              <router-link :to="{ name: 'exportCheque', params:{ id: row.item.id } }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon>
                      <v-icon v-on="on">mdi-file-pdf</v-icon>
                    </v-btn>
                  </template>
                  <span>Generate</span>
                </v-tooltip>
              </router-link>
            </td>-->
            <!-- <td>
              <router-link :to="{ name: 'branch', params: { id: row.item.id } }">
                <v-btn icon>
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </router-link>
              <v-btn @click.stop="edit(row.item.id)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn @click.stop="confirmDelete(row.item.id)" color="red" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>-->
          </tr>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
        >Your search for "{{ search }}" found no results.</v-alert>
      </v-data-table>
    </v-card>

    <div class="text-center" v-if="pagination.show">
      <PaginationComponent :length="pagination.length" :page="pagination.page" @goto="paginateTo" />
    </div>
    <v-layout justify="center">
      <v-alert type="error" dense outline v-if="errorMessages.length !== 0">
        <div v-for="message in errorMessages" :key="message[0]">{{ message[0] }}</div>
      </v-alert>
      <errorSnackBar :snackbar="snackbar" :itemName="'Bank'" @closeSnackBar="snackbar=false"></errorSnackBar>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { BankService } from "../services/web";
import PaginationComponent from "../components/PaginationComponent";
import errorSnackBar from "../components/errorSnackBar";

export default {
  components: {
    PaginationComponent: PaginationComponent,
    errorSnackBar
  },
  mounted() {
    if (!this.isAuthenticated) this.$router.push({ name: "login" });
    this.index();
  },
  methods: {
    index: function() {
      this.isLoading = true;
      BankService.show(this.getId).then(response => {
        window.console.log(response);
        this.bank = response.data;
        // this.handlePagination(response.data);
        this.isLoading = false;
      });
    },
    handlePagination(pd) {
      this.pagination.length = pd["last_page"];
      this.pagination.page = pd["current_page"];
      if (this.pagination.length > 1) {
        this.pagination.show = true;
      }
    },
    paginateTo(page) {
      this.index(page);
    },
    clearSearch() {
      this.query = "";
      this.index();
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated"]),
    getId() {
      return this.$route.params.id;
    }
  },
  data: () => ({
    headers: [
      { text: "Date", align: "start", sortable: false, value: "date" },
      { text: "Receive/Issue", value: "type" },
      { text: "Cheque No.", value: "number" },
      { text: "Balance", value: "amount" },
      { text: "Person Involved", value: "person_involved" }
      // { text: "Print", value: "", sortable: false }
    ],
    search: "",
    snackbar: false,
    cheques: [],
    query: "",
    deleteDialog: false,
    showDialog: false,
    isNew: true,
    isLoading: true,
    valid: false,
    bank: null,
    errorMessages: [],
    pagination: {
      page: 0,
      length: 0,
      show: false
    }
  })
};
</script>
