<template>
  <div>
    <v-progress-linear background-color="blue" color="white" indeterminate v-show="isLoading" />
    <!-- <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">S.N</th>
            <th class="text-left">Code</th>
            <th class="text-left">Name</th>
            <th class="text-left">Address</th>
            <th class="text-left">Contact Person</th>
            <th class="text-left">Contact Number</th>
            <th class="text-left">Pan</th>
            <th class="text-left">Email</th>
            <th class="text-left" style="width:150px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(branch, ind) in branches" :key="branch.id">
            <td>{{ ind+1 }}</td>
            <td>{{ branch.code }}</td>
            <td>{{ branch.name }}</td>
            <td>{{ branch.address }}</td>
            <td>{{ branch.contact_person }}</td>
            <td>{{ branch.phone }}</td>
            <td>{{ branch.pan }}</td>
            <td>{{ branch.email }}</td>
            <td>
              <router-link :to="{ name: 'branch', params: { id: branch.id } }">
                <v-btn icon>
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </router-link>
              <v-btn @click.stop="edit(branch.id)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn @click.stop="confirmDelete(branch.id)" color="red" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>-->
    <v-card>
      <v-card-title style="width:20%;">
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="branches" :search="search">
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.code }}</td>
            <td>{{ row.item.name }}</td>
            <td>{{ row.item.address }}</td>
            <td>{{ row.item.contact_person }}</td>
            <td>{{ row.item.phone }}</td>
            <td>{{ row.item.pan ? row.item.pan : "N/A" }}</td>
            <td>{{ row.item.email ? row.item.email : "N/A" }}</td>
            <td>
              <router-link
                style="text-decoration:none;"
                :to="{ name: 'branch', params: { id: row.item.id } }"
              >
                <v-btn color="secondary" fab small>
                  <v-icon>mdi-receipt</v-icon>
                </v-btn>
              </router-link>
              <v-btn @click.stop="edit(row.item.id)" fab small style="margin-left:10px;">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn
                @click.stop="confirmDelete(row.item.id)"
                color="red"
                fab
                small
                style="margin-left:10px;"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
        >Your search for "{{ search }}" found no results.</v-alert>
      </v-data-table>
    </v-card>
    <div class="text-center" v-if="pagination.show">
      <PaginationComponent :length="pagination.length" :page="pagination.page" @goto="paginateTo" />
    </div>
    <v-layout justify="center">
      <v-dialog v-model="deleteDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
          <v-card-text>This item will be deleted permanently</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            <v-btn color="red darken-1" text @click.stop="destroy(branch.id)">Delete Item</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout justify="center">
      <v-dialog v-model="showDialog" max-width="900px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ isNew ? "Create" : "Edit" }} Branch</span>
          </v-card-title>
          <v-form lazy-validation v-model="valid">
            <v-container style="padding:20px;">
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="branch.code"
                    label="Branch Code*"
                    :rules="codeRules"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="branch.name"
                    label="Branch Name*"
                    :rules="nameRules"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="branch.address"
                    label="Branch Address*"
                    :rules="addressRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="branch.contact_person"
                    label="Contact Person*"
                    :rules="personRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="branch.phone"
                    label="Contact Number*"
                    :rules="phoneRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="branch.pan" label="Pan No"></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="branch.email" :rules="emailRules" label="Email"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <v-alert type="error" dense outline v-if="errorMessages.length !== 0">
            <div v-for="message in errorMessages" :key="message[0]">{{ message[0] }}</div>
          </v-alert>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click.stop="showDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click.stop="store()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-fab-transition>
        <v-btn @click="create" color="secondary" fixed large bottom right fab>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-fab-transition>
      <errorSnackBar :snackbar="snackbar" :itemName="'Branch'" @closeSnackBar="snackbar = false"></errorSnackBar>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { BranchService } from "../services/web";
import PaginationComponent from "../components/PaginationComponent";
import errorSnackBar from "../components/errorSnackBar";

export default {
  components: {
    PaginationComponent: PaginationComponent,
    errorSnackBar
  },
  mounted() {
    if (!this.isAuthenticated) this.$router.push({ name: "login" });
    this.index();
  },
  methods: {
    index: function(page = 1) {
      this.isLoading = true;
      BranchService.query({
        page,
        query: this.query
      }).then(response => {
        this.branches = response.data;
        this.handlePagination(response.data);
        this.isLoading = false;
      });
    },
    handlePagination(pd) {
      this.pagination.length = pd["last_page"];
      this.pagination.page = pd["current_page"];
      if (this.pagination.length > 1) {
        this.pagination.show = true;
      }
    },

    paginateTo(page) {
      this.index(page);
    },
    clearSearch() {
      this.query = "";
      this.index();
    },
    edit: function(id) {
      this.showDialog = true;
      this.isNew = false;
      this.isLoading = true;
      this.errorMessages = [];
      this.emptyBranch();
      BranchService.edit(id).then(response => {
        window.console.log(response);
        let branch = response.data;
        this.branch.id = branch.id;
        this.branch.code = branch.code;
        this.branch.name = branch.name;
        this.branch.address = branch.address;
        this.branch.phone = branch.phone;
        this.branch.pan = branch.pan;
        this.branch.contact_person = branch.contact_person;
        this.branch.email = branch.email;
        this.isLoading = false;
      });
    },
    create: function() {
      this.emptyBranch();
      this.isNew = true;
      this.showDialog = true;
      this.errorMessages = [];
    },
    store: function() {
      this.isLoading = true;
      if (!this.isNew) {
        return this.update();
      }
      BranchService.store(this.branch)
        .then(() => {
          this.errorMessages = [];
          this.showDialog = false;
          this.isLoading = false;
          this.index();
        })
        .catch(error => {
          this.isLoading = false;
          let response = error.response;
          if (response.status == 422) {
            this.errorMessages = response.data.errors;
          }
        });
    },
    update: function() {
      BranchService.update(this.branch.id, this.branch).then(() => {
        this.showDialog = false;
        this.isLoading = false;
        this.index();
      });
    },
    confirmDelete: function(id) {
      this.branch.id = id;
      this.deleteDialog = true;
    },
    destroy: function(id) {
      this.isLoading = true;
      BranchService.destroy(id)
        .then(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.index();
        })
        .catch(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.snackbar = true;
        });
    },
    emptyBranch: function() {
      this.branch.id = null;
      this.branch.code = null;
      this.branch.name = null;
      this.branch.phone = null;
      this.branch.address = null;
      this.branch.contact_person = null;
      this.branch.pan = null;
      this.branch.email = null;
      this.errorMessages = [];
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated"]),
    getId() {
      return this.$route.params.id;
    }
  },
  data: () => ({
    headers: [
      { text: "Code", align: "start", sortable: false, value: "code" },
      { text: "Name", value: "name" },
      { text: "Address", value: "address" },
      { text: "Contact Person", value: "contact_person" },
      { text: "Contact Number", value: "phone" },
      { text: "Pan", value: "pan" },
      { text: "Email", value: "email" },
      { text: "Actions", value: "", sortable: false }
    ],
    search: "",
    snackbar: false,
    branches: [],
    query: "",
    deleteDialog: false,
    showDialog: false,
    isNew: true,
    isLoading: true,
    codeRules: [v => !!v || "Code is required"],
    nameRules: [v => !!v || "Branch Name is required"],
    phoneRules: [v => !!v || "Phone no is required"],
    addressRules: [v => !!v || "Address is required"],
    personRules: [v => !!v || "Contact Person is required"],
    emailRules: [v => /.+@.+/.test(v) || "E-mail must be valid"],
    valid: false,
    branch: {
      id: null,
      code: "",
      name: "",
      phone: "",
      address: "",
      contact_person: "",
      pan: "",
      email: ""
    },
    errorMessages: [],
    pagination: {
      page: 0,
      length: 0,
      show: false
    }
  })
};
</script>
