<template>
  <div>
    <v-progress-linear background-color="blue" color="white" indeterminate v-show="isLoading" />
    <div class="text-center">
      <v-dialog v-model="dialog" width="100%">
        <template v-slot:activator="{ on }">
          <v-btn color="success" dark v-on="on" style="margin-bottom:0.5%;">Deposit/Withdraw</v-btn>
        </template>

        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>Cheque Withdrawl/Deposit</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="11" sm="5">
                <v-menu
                  v-model="menu3"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="searchDate"
                      label="Received date"
                      v-on="on"
                    >{{ searchDate }}</v-text-field>
                  </template>
                  <v-date-picker
                    @change="getCheques"
                    v-model="searchDate"
                    no-title
                    @input="menu3 = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-simple-table>
              <thead>
                <tr>
                  <th class="text-left">Date</th>
                  <th class="text-left">Bank</th>
                  <th class="text-left">Party Name</th>
                  <th class="text-left">Cheque No.</th>
                  <th class="text-left">Amount</th>
                  <th class="text-left">Due Date</th>
                  <th class="text-left" style="width:140px">W.Date</th>
                  <th style="width:140px">Cash Withdrawl</th>
                  <th class="text-left" style="width:140px">D.Bank</th>
                  <th class="text-left" style="width:140px">A/C</th>
                  <th class="text-left">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(cheque, index) in withdrawCheques" :key="cheque.id">
                  <td>{{ cheque.date }}</td>
                  <td>{{ cheque.bank.name }}</td>
                  <td>{{ cheque.party.name }}</td>
                  <td>{{ cheque.number }}</td>
                  <td>{{ cheque.amount }}</td>
                  <td>{{ cheque.due }}</td>
                  <td>
                    <v-menu
                      v-model="menu4"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="withdraws[index]['date']"
                          label="Date"
                          v-on="on"
                        >{{ withdraws[index]["date"] }}</v-text-field>
                      </template>
                      <v-date-picker
                        v-model="withdraws[index]['date']"
                        no-title
                        @input="menu4 = false"
                      ></v-date-picker>
                    </v-menu>
                  </td>
                  <td>
                    <input type="checkbox" id="check" v-model="withdraws[index]['isWithdrawn']" />
                  </td>
                  <td>
                    <v-select
                      :disabled="!!withdraws[index]['isWithdrawn']"
                      label="Select Bank"
                      v-model="withdraws[index]['deposited_bank']"
                      :items="
                        banks.map(a => {
                          return { value: a.id, text: a.name };
                        })
                      "
                    ></v-select>
                  </td>
                  <td>
                    <v-text-field
                      :disabled="!!withdraws[index]['isWithdrawn']"
                      v-model="withdraws[index]['deposited_ac']"
                      label="Account No.*"
                      :rules="accNumRules"
                      required
                    ></v-text-field>
                  </td>

                  <td>
                    <div class="my-2">
                      <v-btn small color="success" dark @click="chequeWithdraw(index)">Submit</v-btn>
                    </div>
                  </td>
                  <td>
                    <div class="my-2">
                      <v-btn small color="error" dark @click="bounce(cheque.id)">Bounce ?</v-btn>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <!-- <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">S.N</th>
            <th class="text-left">Date</th>
            <th class="text-left">Issue/Receive</th>
            <th class="text-left">Bank</th>
            <th class="text-left">Party Name</th>
            <th class="text-left">Branch Name</th>
            <th class="text-left">Cheque No.</th>
            <th class="text-left">Amount</th>
            <th class="text-left">Due Date</th>
            <th class="text-left">Person Involved</th>
            <th class="text-left">Status</th>
            <th class="text-left" style="width:150px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(cheque, ind) in cheques" :key="cheque.id">
            <td>{{ ind+1 }}</td>
            <td>{{ cheque.date}}</td>
            <td>{{ cheque.type }}</td>
            <td>{{ cheque.bank.name }}</td>
            <td>{{ cheque.party ? cheque.party.name : 'N/A' }}</td>
            <td>{{ cheque.branch ? cheque.branch.name : 'N/A' }}</td>
            <td>{{ cheque.number }}</td>
            <td>{{ cheque.amount }}</td>
            <td>{{ cheque.due }}</td>
            <td>{{ cheque.person_involved }}</td>
            <td v-if="cheque.status == 0" style="color:red">pending</td>
            <td v-else style="color:green">received</td>
            <td>
              <v-btn @click.stop="edit(cheque.id)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn @click.stop="confirmDelete(cheque.id)" color="red" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>-->

    <v-card>
      <v-card-title style="width:20%;">
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="cheques" :search="search">
        <template v-slot:item="row">
          <tr v-if="row.item.bounce" style="color:red">
            <td style="width:110px;">{{ row.item.date }}</td>
            <td>{{ row.item.type }}</td>
            <td>{{ row.item.bank.name }}</td>
            <td>{{ row.item.party ? row.item.party.name : "N/A" }}</td>
            <td>{{ row.item.branch ? row.item.branch.name : "N/A" }}</td>
            <td>{{ row.item.number }}</td>
            <td>
              {{
              row.item.deposited_bank ? row.item.deposited_bank.name : "N/A"
              }}
            </td>
            <td>{{ row.item.deposited_ac ? row.item.deposited_ac : "N/A" }}</td>
            <td>{{ row.item.amount }}</td>
            <td style="width:110px;">{{ row.item.due }}</td>
            <td>{{ row.item.person_involved }}</td>
            <td>{{ row.item.bounce ? row.item.bounce : "N/A" }}</td>
            <td v-if="row.item.status == 0 && row.item.type == 'Issued'">--</td>
            <td v-if="row.item.status == 0 && row.item.type == 'Received'" style="color:red">pending</td>
            <td
              v-if="row.item.status == 1 && row.item.type == 'Received'"
              style="color:green"
            >received</td>
            <td style="width:110px;">
              <v-btn @click.stop="edit(row.item.id)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn @click.stop="confirmDelete(row.item.id)" color="red" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
            <!-- <td>
              <v-btn class="mx-2" fab dark small color="pink" @click="onButtonClick(row.item)">
                <v-icon dark>mdi-heart</v-icon>
              </v-btn>
            </td>-->
          </tr>
          <tr v-else>
            <td style="width:110px;">{{ row.item.date }}</td>
            <td>{{ row.item.type }}</td>
            <td>{{ row.item.bank.name }}</td>
            <td>{{ row.item.party ? row.item.party.name : "N/A" }}</td>
            <td>{{ row.item.branch ? row.item.branch.name : "N/A" }}</td>
            <td>{{ row.item.number }}</td>
            <td>
              {{
              row.item.deposited_bank ? row.item.deposited_bank.name : "N/A"
              }}
            </td>
            <td>{{ row.item.deposited_ac ? row.item.deposited_ac : "N/A" }}</td>
            <td>{{ row.item.amount }}</td>
            <td style="width:110px;">{{ row.item.due }}</td>
            <td>{{ row.item.person_involved }}</td>
            <td>{{ row.item.bounce ? row.item.bounce : "N/A" }}</td>
            <td v-if="row.item.status == 0 && row.item.type == 'Issued'">--</td>
            <td v-if="row.item.status == 0 && row.item.type == 'Received'" style="color:red">pending</td>
            <td
              v-if="row.item.status == 1 && row.item.type == 'Received'"
              style="color:green"
            >received</td>
            <td style="width:110px;">
              <v-btn @click.stop="edit(row.item.id)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn @click.stop="confirmDelete(row.item.id)" color="red" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>

        <v-alert
          slot="no-results"
          :value="true"
          color="error"
        >Your search for "{{ search }}" found no results.</v-alert>
      </v-data-table>
    </v-card>

    <div class="text-center" v-if="pagination.show">
      <PaginationComponent :length="pagination.length" :page="pagination.page" @goto="paginateTo" />
    </div>
    <v-layout justify="center">
      <v-dialog v-model="deleteDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
          <v-card-text>This item will be deleted permanently</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            <v-btn color="red darken-1" text @click.stop="destroy(cheque.id)">Delete Item</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout justify="center">
      <v-dialog v-model="showDialog" max-width="900px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ isNew ? "Create" : "Edit" }} Cheque</span>
          </v-card-title>
          <v-form lazy-validation v-model="valid">
            <v-container style="padding:20px;">
              <v-row>
                <v-col cols="12" md="4">
                  <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="cheque.date" label="Date*" readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="cheque.date" no-title @input="menu2 = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select
                    :items="['Issued', 'Received']"
                    label="Cheque Type"
                    v-model="cheque.type"
                  ></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select
                    label="Select Bank"
                    v-model="cheque.bank"
                    :items="
                      banks.map(a => {
                        return { value: a.id, text: a.name };
                      })
                    "
                  ></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select
                    label="Select Branch"
                    v-model="cheque.branch"
                    :items="
                      branches.map(a => {
                        return { value: a.id, text: a.name };
                      })
                    "
                  ></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select
                    label="Select Party"
                    v-model="cheque.party"
                    :items="
                      parties.map(a => {
                        return { value: a.id, text: a.name };
                      })
                    "
                  ></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="cheque.number"
                    label="Cheque No.*"
                    :rules="chequeNumRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="cheque.amount"
                    label="Cheque Amount*"
                    :rules="amountRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-menu
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="cheque.due" label="Due Date*" readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="cheque.due" no-title @input="menu1 = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="cheque.person_involved"
                    label="Person Involved*"
                    :rules="personRules"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <v-alert type="error" dense outline v-if="errorMessages.length !== 0">
            <div v-for="message in errorMessages" :key="message[0]">{{ message[0] }}</div>
          </v-alert>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click.stop="showDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click.stop="store()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-fab-transition>
        <v-btn @click="create" color="secondary" fixed large bottom right fab>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-fab-transition>
      <errorSnackBar :snackbar="snackbar" :itemName="'Cheque'" @closeSnackBar="snackbar = false"></errorSnackBar>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { ChequeService } from "../services/web";
import PaginationComponent from "../components/PaginationComponent";
import errorSnackBar from "../components/errorSnackBar";

export default {
  components: {
    PaginationComponent: PaginationComponent,
    errorSnackBar
  },
  mounted() {
    if (!this.isAuthenticated) this.$router.push({ name: "login" });
    this.index();
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${month}/${day}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    index: function(page = 1) {
      // this.bounce();
      this.isLoading = true;
      ChequeService.query({
        page,
        query: this.query
      }).then(response => {
        window.console.log(response.data);
        this.cheques = response.data[0];
        this.parties = response.data[1];
        this.banks = response.data[2];
        this.branches = response.data[3];
        // this.withdraws = response.date[3];
        this.handlePagination(response.data);
        this.isLoading = false;
      });
    },
    getCheques: function() {
      this.isLoading = true;
      ChequeService.getCheques({
        date: this.searchDate
      }).then(response => {
        this.withdrawCheques = response.data;
        this.withdrawCheques.forEach(e => {
          this.withdraws.push({
            id: e.id,
            number: null,
            date: new Date().toISOString().substr(0, 10),
            bank: null,
            isWithdrawn: 0
          });
        });
        this.isLoading = false;
      });
    },

    chequeWithdraw: function(index) {
      this.isLoading = true;
      this.dialog = false;
      window.console.log(this.withdraws[index]);
      ChequeService.withdraw(this.withdraws[index]).then(() => {
        this.index();
        this.dialog = true;
        this.getCheques();
      });
    },

    bounce: function(id) {
      this.isLoading = true;
      window.console.log("skdnsknds");
      ChequeService.bounce(id).then(response => {
        window.console.log(response.data);
        this.showDialog = false;
        this.isLoading = false;
        this.index();
        this.dialog = false;
      });
    },

    handlePagination(pd) {
      this.pagination.length = pd["last_page"];
      this.pagination.page = pd["current_page"];
      if (this.pagination.length > 1) {
        this.pagination.show = true;
      }
    },
    paginateTo(page) {
      this.index(page);
    },
    clearSearch() {
      this.query = "";
      this.index();
    },
    edit: function(id) {
      this.showDialog = true;
      this.isNew = false;
      this.isLoading = true;
      this.errorMessages = [];
      this.emptyCheque();
      ChequeService.edit(id).then(response => {
        let cheque = response.data[0];
        this.cheque.id = cheque.id;
        this.cheque.date = cheque.date;
        this.cheque.type = cheque.type;

        this.cheque.bank = {};
        this.cheque.bank["value"] = cheque.bank.id;
        this.cheque.bank["text"] = cheque.bank.name;

        this.cheque.party = {};
        this.cheque.party["value"] = cheque.party.id;
        this.cheque.party["text"] = cheque.party.name;

        this.cheque.branch = {};
        this.cheque.branch["value"] = cheque.branch.id;
        this.cheque.branch["text"] = cheque.branch.name;

        // this.editParty["value"] = cheque.party.id;
        // this.editParty["text"] = cheque.party.name;
        this.cheque.number = cheque.number;
        this.cheque.amount = cheque.amount;
        this.cheque.due = cheque.due;
        this.cheque.person_involved = cheque.person_involved;
        this.cheque.status = cheque.status;
        this.isLoading = false;
      });
    },
    create: function() {
      this.emptyCheque();
      this.isNew = true;
      this.showDialog = true;
      this.errorMessages = [];
    },
    store: function() {
      this.isLoading = true;
      if (!this.isNew) {
        return this.update();
      }

      ChequeService.store(this.cheque)
        .then(() => {
          this.errorMessages = [];
          this.showDialog = false;
          this.isLoading = false;
          this.index();
        })
        .catch(error => {
          this.isLoading = false;
          let response = error.response;
          if (response.status == 422) {
            this.errorMessages = response.data.errors;
          }
        });
    },
    update: function() {
      this.cheque.bank = this.cheque.bank.value || this.cheque.bank;
      this.cheque.branch = this.cheque.branch.value || this.cheque.branch;
      this.cheque.party = this.cheque.party.value || this.cheque.party;
      ChequeService.update(this.cheque.id, this.cheque).then(() => {
        this.showDialog = false;
        this.isLoading = false;
        this.index();
      });
    },
    confirmDelete: function(id) {
      this.cheque.id = id;
      this.deleteDialog = true;
    },
    destroy: function(id) {
      this.isLoading = true;
      ChequeService.destroy(id)
        .then(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.index();
        })
        .catch(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.snackbar = true;
        });
    },
    emptyCheque: function() {
      this.cheque.id = null;
      this.cheque.date = null;
      this.cheque.type = null;
      this.cheque.bank = null;
      this.cheque.party = null;
      this.cheque.branch = null;
      this.cheque.number = null;
      this.cheque.amount = null;
      this.cheque.due = null;
      this.cheque.person_involved = null;
      this.cheque.status = null;
      this.errorMessages = [];
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated"])
  },

  data: () => ({
    headers: [
      { text: "Date", align: "start", value: "date" },
      { text: "Issue/Receive", value: "type" },
      { text: "Bank", value: "bank" },
      { text: "Party Name", value: "party_id" },
      { text: "Branch Name", value: "branch_id" },
      { text: "Cheque No.", value: "number" },
      { text: "Deposited Bank", value: "deposited_bank" },
      { text: "Deposited A/C", value: "deposited_ac" },
      { text: "Amount", value: "amount" },
      { text: "Due Date", value: "due" },
      { text: "Person Involved", value: "person_involved" },
      { text: "Bounce", value: "bounce" },
      { text: "Status", value: "status" },
      { text: "Actions", value: "", sortable: false }
    ],
    search: "",
    isWithdraw: false,
    dialog: false,
    date: new Date().toISOString().substr(0, 10),
    searchDate: new Date().toISOString().substr(0, 10),
    menu1: false,
    menu2: false,
    menu3: false,
    menu4: false,
    menu: false,
    snackbar: false,
    cheques: [],
    withdraws: [],
    withdrawCheques: [],
    banks: [],
    parties: [],
    branches: [],
    query: "",
    deleteDialog: false,
    showDialog: false,
    isNew: true,
    isLoading: true,
    nameRules: [v => !!v || "Party Name is required"],
    personRules: [v => !!v || "Person name is required"],
    chequeNumRules: [v => !!v || "Cheque number is required"],
    amountRules: [v => !!v || "Amount number is required"],
    accNumRules: [v => !!v || "Account number is required"],
    valid: false,
    party: {
      text: null,
      value: null
    },
    bank: {
      text: null,
      value: null
    },
    branch: {
      text: null,
      value: null
    },
    cheque: {
      id: "",
      date: "",
      type: "",
      number: "",
      amount: "",
      branch: "",
      due: "",
      person_involved: "",
      status: "",
      party: "",
      deposited_bank: "",
      deposited_ac: "",
      bank: ""
    },
    errorMessages: [],
    pagination: {
      page: 0,
      length: 0,
      show: false
    }
  })
};
</script>
