<template>
  <div>
    <v-row>
      <v-progress-linear background-color="blue" color="white" indeterminate v-show="isLoading" />
    </v-row>
    <v-row>
      <div class="notifications" style="width:100%" v-if="show">
        <v-card color="#ffffff">
          <div style="width:100%">
            <div class="text-center">
              <h3 style="color:red;">Today's Due Cheques</h3>
            </div>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">S.N</th>
                    <th class="text-left">Issue/Receive</th>
                    <th class="text-left">Bank</th>
                    <th class="text-left">Party Name</th>
                    <th class="text-left">Branch Name</th>
                    <th class="text-left">Cheque No.</th>
                    <th class="text-left">Deposited Bank</th>
                    <th class="text-left">Deposited A/C</th>
                    <th class="text-left">Amount</th>
                    <!-- <th class="text-left">Due Date</th> -->
                    <th class="text-left">Person Involved</th>
                    <th class="text-left">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(due_cheque, ind) in today_due_cheques" :key="due_cheque.id">
                    <td>{{ ind + 1 }}</td>
                    <td>{{ due_cheque.type }}</td>
                    <td>{{ due_cheque.bank.name }}</td>
                    <td>{{ due_cheque.party ? due_cheque.party.name : "N/A" }}</td>
                    <td>{{ due_cheque.branch ? due_cheque.branch.name : "N/A" }}</td>
                    <td>{{ due_cheque.number }}</td>
                    <td>
                      {{
                      due_cheque.deposited_bank
                      ? due_cheque.deposited_bank.name
                      : "N/A"
                      }}
                    </td>
                    <td>
                      {{
                      due_cheque.deposited_ac
                      ? due_cheque.deposited_ac
                      : "N/A"
                      }}
                    </td>
                    <td>{{ due_cheque.amount }}</td>
                    <!-- <td>{{ due_cheque.due }}</td> -->
                    <td>{{ due_cheque.person_involved }}</td>
                    <td
                      v-if="
                        due_cheque.status == 0 && due_cheque.type == 'Issued'
                      "
                    >--</td>
                    <td
                      v-if="
                        due_cheque.status == 0 && due_cheque.type == 'Received'
                      "
                      style="color:red"
                    >pending</td>
                    <td
                      v-if="
                        due_cheque.status == 1 && due_cheque.type == 'Received'
                      "
                      style="color:green"
                    >received</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
          <v-card-actions>
            <v-btn @click="removeMessage(1)">Close</v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </v-row>
    <v-row>
      <v-col>
        <v-card color="#ffffff" dark>
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="headline" style="color:#13C6BA;">Pending Cheques</v-card-title>
              <v-card-subtitle
                style="font-size:24px; color:red; font-weight:600"
              >{{ pending_cheques.length }}</v-card-subtitle>

              <!-- <v-icon>mdi-book-open</v-icon> -->
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col>
        <v-card color="#ffffff" dark>
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="headline" style="color:#13C6BA;">Total Cheques</v-card-title>
              <v-card-subtitle
                style="font-size:24px; color:red; font-weight:600"
              >{{ total_cheques.length }}</v-card-subtitle>
              <!-- <v-icon>mdi-book-open</v-icon> -->
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col>
        <v-card color="#ffffff" dark>
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="headline" style="color:#13C6BA;">Total Issued Cheques</v-card-title>
              <v-card-subtitle
                style="font-size:24px; color:red; font-weight:600"
              >{{ issued_cheques.length }}</v-card-subtitle>
              <!-- <v-icon>mdi-book-open</v-icon> -->
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col>
        <v-card color="#ffffff" dark>
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="headline" style="color:#13C6BA;">Total Received Cheques</v-card-title>
              <v-card-subtitle
                style="font-size:24px; color:red; font-weight:600"
              >{{ received_cheques.length }}</v-card-subtitle>
              <!-- <v-icon>mdi-book-open</v-icon> -->
            </div>
          </div>
        </v-card>
      </v-col>

      <!-- <v-col>
        <v-card color="#385F73" dark>
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="headline">Pending Cheques</v-card-title>

              <v-card-subtitle></v-card-subtitle>
            </div>

            <v-avatar class="ma-3" size="125" tile>
              <v-img></v-img>
            </v-avatar>
          </div>
        </v-card>
      </v-col>-->
    </v-row>
    <v-card color="#234375">
      <div style="width:100%">
        <div class="text-center">
          <h3 style="color:white;">Today's Transaction</h3>
        </div>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">S.N</th>
                <th class="text-left">Issue/Receive</th>
                <th class="text-left">Bank</th>
                <th class="text-left">Party Name</th>
                <th class="text-left">Branch Name</th>
                <th class="text-left">Cheque No.</th>
                <th class="text-left">Deposited Bank</th>
                <th class="text-left">Deposited A/C</th>
                <th class="text-left">Amount</th>
                <th class="text-left">Due Date</th>
                <th class="text-left">Person Involved</th>
                <th class="text-left">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(cheque, ind) in cheques" :key="cheque.id">
                <td>{{ ind + 1 }}</td>
                <td>{{ cheque.type }}</td>
                <td>{{ cheque.bank.name }}</td>
                <td>{{ cheque.party ? cheque.party.name : "N/A" }}</td>
                <td>{{ cheque.branch ? cheque.branch.name : "N/A" }}</td>
                <td>{{ cheque.number }}</td>
                <td>
                  {{
                  cheque.deposited_bank ? cheque.deposited_bank.name : "N/A"
                  }}
                </td>
                <td>{{ cheque.deposited_ac ? cheque.deposited_ac : "N/A" }}</td>
                <td>{{ cheque.amount }}</td>
                <td>{{ cheque.due }}</td>
                <td>{{ cheque.person_involved }}</td>
                <td v-if="cheque.status == 0 && cheque.type == 'Issued'">--</td>
                <td v-if="cheque.status == 0 && cheque.type == 'Received'" style="color:red">pending</td>
                <td
                  v-if="cheque.status == 1 && cheque.type == 'Received'"
                  style="color:green"
                >received</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-card>
    <v-divider></v-divider>
    <br />

    <!-- 
    <div class="secondDiv">
      <div style="width:50%">
        <div class="v-card__title">Parties Information</div>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">S.N</th>
                <th class="text-left">Name</th>
                <th class="text-left">Branch</th>
                <th class="text-left">Owner Name</th>
                <th class="text-left">Address</th>
                <th class="text-left">Phone</th>
                <th class="text-left">Contact Person</th>
                <th class="text-left">Contact No.</th>
                <th class="text-left">Pan/Vat No.</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(party, ind) in parties" :key="party.id">
                <td>{{ ind+1 }}</td>
                <td>{{ party.name }}</td>
                <td>{{ party.branch.name }}</td>
                <td>{{ party.owner }}</td>
                <td>{{ party.address }}</td>
                <td>{{ party.phone }}</td>
                <td>{{ party.contact_person }}</td>
                <td>{{ party.contact }}</td>
                <td>{{ party.pan }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </div>-->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { ChequeService } from "../services/web";

export default {
  mounted() {
    if (!this.isAuthenticated) this.$router.push({ name: "login" });
    this.index();
  },
  methods: {
    removeMessage(seconds) {
      setTimeout(() => (this.show = false), seconds * 1000);
    },
    index: function() {
      this.dialogfirst = false;
      ChequeService.transaction().then(response => {
        window.console.log(response.data[5]);
        // window.console.log(response.data[1]);
        // window.console.log(response.data[2]);
        // window.console.log(response.data[3]);
        // window.console.log(response.data[4]);
        this.cheques = response.data[0];
        this.pending_cheques = response.data[1];
        this.total_cheques = response.data[2];
        this.issued_cheques = response.data[3];
        this.received_cheques = response.data[4];
        this.today_due_cheques = response.data[5];
        this.isLoading = false;
      });
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated"])
  },

  data: () => ({
    dialogfirst: false,
    pending_cheques: "",
    show: true,
    total_cheques: "",
    issued_cheques: "",
    received_cheques: "",
    today_due_cheques: "",
    cheques: "",
    dateFilter: "",
    isLoading: false,
    parties: [],
    query: ""
  })
};
</script>
