<template>
  <v-card class="mx-auto mt-10" max-width="500">
    <v-img
      class="white--text align-end"
      height="300px"
      src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
    >
      <v-card-title>Login To Continue.</v-card-title>
    </v-img>

    <v-card-text class="text--primary">
      <br />
      <v-form>
        <v-container>
          <v-col cols="12" sm="12" md="12">
            <v-text-field
              autocomplete="off"
              label="E-Mail Address"
              outlined
              autofocus
              v-model="username"
            />
            <v-text-field
              autocomplete="off"
              label="Password"
              type="password"
              v-model="password"
              outlined
            />
            <v-btn block color="success" dark large @click="login">Log In</v-btn>
          </v-col>
        </v-container>
      </v-form>
    </v-card-text>
    <v-snackbar v-model="snackbar" :timeout="4000">
      {{ 'Invalid Username or Password' }}
      <v-btn color="pink" text @click="snackbar=false">Close</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import { LOGIN } from "../store/actions.type";

export default {
  computed: {
    ...mapGetters(["isAuthenticated"])
  },
  methods: {
    login() {
      this.$store
        .dispatch(LOGIN, { email: this.username, password: this.password })
        .then(() => this.$router.push({ name: "home" }))
        .catch(() => {
          this.snackbar = true;
        });
    }
  },
  data: () => ({
    snackbar: false,
    username: "",
    password: ""
  }),
  created() {
    if (this.isAuthenticated) this.$router.push({ name: "home" });
  }
};
</script>
