<template>
  <div>
    <v-progress-linear background-color="blue" color="white" indeterminate v-show="isLoading" />
    <!-- <v-row>
      <v-col>
        <v-text-field
          v-model="query"
          clearable
          flat
          solo
          color="#666"
          background-color="#DDD"
          hide-details
          prepend-inner-icon="mdi-table-search"
          label="Search"
          @change="index()"
          @click:clear="clearSearch()"
        />
      </v-col>
    </v-row>-->
    <!-- <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">S.N</th>
            <th class="text-left">Name</th>
            <th class="text-left">Branch</th>
            <th class="text-left">Owner Name</th>
            <th class="text-left">Address</th>
            <th class="text-left">Phone</th>
            <th class="text-left">Contact Person</th>
            <th class="text-left">Contact No.</th>
            <th class="text-left">Pan/Vat No.</th>
            <th class="text-left" style="width:150px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(party, ind) in parties" :key="party.id">
            <td>{{ ind+1 }}</td>
            <td>{{ party.name }}</td>
            <td>{{ party.branch.code +" : " + party.branch.name }}</td>
            <td>{{ party.owner }}</td>
            <td>{{ party.address }}</td>
            <td>{{ party.phone }}</td>
            <td>{{ party.contact_person }}</td>
            <td>{{ party.contact }}</td>
            <td>{{ party.pan }}</td>
            <td>
              <router-link :to="{ name: 'party', params: { id: party.id } }">
                <v-btn icon>
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </router-link>
              <v-btn @click.stop="edit(party.id)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn @click.stop="confirmDelete(party.id)" color="red" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>-->

    <v-card>
      <v-card-title style="width:20%;">
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="parties" :search="search">
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.name }}</td>
            <td>{{ row.item.owner }}</td>
            <td>{{ row.item.address }}</td>
            <td>{{ row.item.phone }}</td>
            <td>{{ row.item.contact_person }}</td>
            <td>{{ row.item.contact }}</td>
            <td>{{ row.item.pan ? row.item.pan : "N/A" }}</td>
            <td>
              <router-link
                style="text-decoration:none;"
                :to="{ name: 'party', params: { id: row.item.id } }"
              >
                <v-btn color="secondary" fab small>
                  <v-icon>mdi-receipt</v-icon>
                </v-btn>
              </router-link>
              <v-btn @click.stop="edit(row.item.id)" fab small style="margin-left:10px;">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>&nbsp;
              <v-btn
                @click.stop="confirmDelete(row.item.id)"
                color="red"
                fab
                small
                style="margin-left:10px;"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>

        <v-alert
          slot="no-results"
          :value="true"
          color="error"
        >Your search for "{{ search }}" found no results.</v-alert>
      </v-data-table>
    </v-card>

    <div class="text-center" v-if="pagination.show">
      <PaginationComponent :length="pagination.length" :page="pagination.page" @goto="paginateTo" />
    </div>
    <v-layout justify="center">
      <v-dialog v-model="deleteDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
          <v-card-text>This item will be deleted permanently</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            <v-btn color="red darken-1" text @click.stop="destroy(party.id)">Delete Item</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout justify="center">
      <v-dialog v-model="showDialog" max-width="900px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ isNew ? "Create" : "Edit" }} Party</span>
          </v-card-title>
          <v-form lazy-validation v-model="valid">
            <v-container style="padding:20px;">
              <v-row>
                <!-- <v-col cols="12" md="4">
                  <v-select
                    label="Branch"
                    v-model="party.branch"
                    :items="branches.map(a => { 
                        return{ 'value':a.id,'text':a.code+' : '+a.name } 
                    })"
                  ></v-select>
                </v-col>-->
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="party.name"
                    label="Party Name*"
                    :rules="nameRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="party.owner" label="Party Owner"></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="party.phone"
                    label="Phone No.*"
                    :rules="phoneRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="party.address"
                    label="Party Address*"
                    :rules="addressRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="party.contact_person"
                    label="Contact Person*"
                    :rules="personRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="party.contact"
                    label="Contact No*"
                    :rules="numberRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="party.pan" label="Pan No./Vat No."></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <v-alert type="error" dense outline v-if="errorMessages.length !== 0">
            <div v-for="message in errorMessages" :key="message[0]">{{ message[0] }}</div>
          </v-alert>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click.stop="showDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click.stop="store()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-fab-transition>
        <v-btn @click="create" color="secondary" fixed large bottom right fab>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-fab-transition>
      <errorSnackBar :snackbar="snackbar" :itemName="'Party'" @closeSnackBar="snackbar = false"></errorSnackBar>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { PartyService } from "../services/web";
import PaginationComponent from "../components/PaginationComponent";
import errorSnackBar from "../components/errorSnackBar";

export default {
  components: {
    PaginationComponent: PaginationComponent,
    errorSnackBar
  },
  mounted() {
    if (!this.isAuthenticated) this.$router.push({ name: "login" });
    this.index();
  },
  methods: {
    index: function(page = 1) {
      this.isLoading = true;
      PartyService.query({
        page,
        query: this.query
      }).then(response => {
        this.parties = response.data;
        // this.branches = response.data[1];
        this.handlePagination(response.data);
        this.isLoading = false;
      });
    },
    handlePagination(pd) {
      this.pagination.length = pd["last_page"];
      this.pagination.page = pd["current_page"];
      if (this.pagination.length > 1) {
        this.pagination.show = true;
      }
    },
    paginateTo(page) {
      this.index(page);
    },
    clearSearch() {
      this.query = "";
      this.index();
    },
    edit: function(id) {
      this.showDialog = true;
      this.isNew = false;
      this.isLoading = true;
      this.errorMessages = [];
      this.emptyParty();
      PartyService.edit(id).then(response => {
        window.console.log(response);
        let party = response.data;
        this.party.id = party.id;
        this.party.name = party.name;
        this.party.owner = party.owner;
        this.party.address = party.address;
        // this.party.branch = party.branch;
        this.party.phone = party.phone;
        this.party.pan = party.pan;
        this.party.contact_person = party.contact_person;
        this.party.contact = party.contact;
        this.isLoading = false;
      });
    },
    create: function() {
      this.emptyParty();
      this.isNew = true;
      this.showDialog = true;
      this.errorMessages = [];
    },
    store: function() {
      this.isLoading = true;
      if (!this.isNew) {
        return this.update();
      }
      PartyService.store(this.party)
        .then(() => {
          this.errorMessages = [];
          this.showDialog = false;
          this.isLoading = false;
          this.index();
        })
        .catch(error => {
          this.isLoading = false;
          let response = error.response;
          if (response.status == 422) {
            this.errorMessages = response.data.errors;
          }
        });
    },
    update: function() {
      PartyService.update(this.party.id, this.party).then(() => {
        this.showDialog = false;
        this.isLoading = false;
        this.index();
      });
    },
    confirmDelete: function(id) {
      this.party.id = id;
      this.deleteDialog = true;
    },
    destroy: function(id) {
      this.isLoading = true;
      PartyService.destroy(id)
        .then(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.index();
        })
        .catch(() => {
          this.isLoading = false;
          this.deleteDialog = false;
          this.snackbar = true;
        });
    },
    emptyParty: function() {
      this.party.id = null;
      this.party.code = null;
      this.party.name = null;
      this.party.phone = null;
      this.party.owner = null;
      this.party.address = null;
      this.party.contact_person = null;
      this.party.contact = null;
      this.party.pan = null;
      // this.party.branch = null;
      this.party.email = null;
      this.errorMessages = [];
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated"]),
    getId() {
      return this.$route.params.id;
    }
  },
  data: () => ({
    headers: [
      { text: "Name", align: "start", value: "name" },
      // { text: "Branch", value: "branch" },
      { text: "Owner Name", value: "owner" },
      { text: "Address", value: "address" },
      { text: "Contact No.", value: "phone" },
      { text: "Contact Person", value: "contact_person" },
      { text: "Contact No.", value: "contact" },
      { text: "Pan/Vat No.", value: "pan" },
      { text: "Actions", value: "", sortable: false }
    ],
    search: "",
    snackbar: false,
    parties: [],
    // branches: [],
    query: "",
    deleteDialog: false,
    showDialog: false,
    isNew: true,
    isLoading: true,
    nameRules: [v => !!v || "Party Name is required"],
    phoneRules: [v => !!v || "Phone no. is required"],
    addressRules: [v => !!v || "Address is required"],
    personRules: [v => !!v || "Contact Person is required"],
    numberRules: [v => !!v || "Contact no. is required"],
    emailRules: [v => /.+@.+/.test(v) || "E-mail must be valid"],
    valid: false,
    party: {
      id: null,
      name: "",
      phone: "",
      address: "",
      contact_person: "",
      contact: "",
      owner: "",
      pan: ""
      // branch: ""
    },
    errorMessages: [],
    pagination: {
      page: 0,
      length: 0,
      show: false
    }
  })
};
</script>
