 <style scoped>
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    width: 210mm;
    /* height: 297mm; */
    height: 282mm;
    font-size: 11px;
    background: #fff;
    overflow: visible;
  }

  body {
    padding-top: 15mm;
  }
}
</style>
 <template>
  <div>
    <!-- <div class="d-print-none">Screen Only (Hide on print only)</div> -->
    <!-- <div class="d-none d-print-block">Print Only (Hide on screen only)</div> -->
    <!-- <div class="d-none d-print-block">
      <p>Contact:Demo, Demo@Demon.com</p>
    </div>-->
    <!-- <div
      class="d-none d-lg-block d-print-block"
    >Hide up to large on screen, but always show on print</div>
    </div>-->
    <p style="text-align:center;">{{party.name}} : Cheque Info Report</p>
    <!-- <v-row style="text-align:center;">
      <v-col class="text-right" cols="12" sm="4">
      </v-col>
    </v-row>-->
    <v-row>
      <v-col cols="11" sm="5" class="d-print-none">
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="getDate"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              style="width:50%;"
              v-model="getDate"
              label="Search by Month"
              readonly
              v-on="on"
              solo
            >{{ getDate }}</v-text-field>
          </template>
          <v-date-picker v-model="getDate" type="month" no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="menu=false">Cancel</v-btn>
            <v-btn text color="primary" @click.stop="submitDate();$refs.menu.save(getDate)">OK</v-btn>
          </v-date-picker>
        </v-menu>
      </v-col>
      <v-col>
        <div class="d-print-none" style="text-align:right;">
          <v-btn small onclick="window.print()" style="text-align:left;" color="blue-grey">Print</v-btn>
        </div>
      </v-col>
    </v-row>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th style="font-size:12px;" class="text-left">S.N.</th>
            <th style="font-size:12px;" class="text-left">Receive/Issue</th>
            <th style="font-size:12px;" class="text-left">Date</th>
            <th style="font-size:12px;" class="text-left">Bank Name</th>
            <th style="font-size:12px;" class="text-left">Account No.</th>
            <th style="font-size:12px;" class="text-left">Balance</th>
            <th style="font-size:12px;" class="text-left">D. Bank</th>
            <th style="font-size:12px;" class="text-left">D. A/C</th>
            <th style="font-size:12px;" class="text-left">Person Involved</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(cheque, ind) in cheques" :key="cheque.id">
            <td style="font-size:12px;">{{ ind+1 }}</td>
            <td style="font-size:12px;">{{ cheque.type }}</td>
            <td style="font-size:12px;">{{ cheque.date }}</td>
            <td style="font-size:12px;">{{ cheque.bank.name ? cheque.bank.name : "N/A" }}</td>
            <td style="font-size:12px;">{{ cheque.number }}</td>
            <td style="font-size:12px;">{{ cheque.amount }}</td>
            <td
              style="font-size:12px;"
            >{{ cheque.deposited_bank ? cheque.deposited_bank.name : "N/A" }}</td>
            <td style="font-size:12px;">{{ cheque.deposited_ac ? cheque.deposited_ac : "N/A" }}</td>
            <td style="font-size:12px;">{{ cheque.person_involved }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { PartyService } from "../services/web";

export default {
  components: {},
  mounted() {
    if (!this.isAuthenticated) this.$router.push({ name: "login" });
    this.index();
  },
  methods: {
    submitDate: function() {
      PartyService.getDate(this.party.id, this.getDate).then(response => {
        this.cheques = response.data;
        this.menu = false;
      });
    },
    index: function() {
      this.isLoading = true;
      PartyService.show(this.getId).then(response => {
        window.console.log(response.data[1]);
        this.party = response.data[0];
        this.cheques = response.data[1];

        // this.bank = response.data[1];
        // this.handlePagination(response.data);
        this.isLoading = false;
      });
    },

    clearSearch() {
      this.query = "";
      this.index();
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated"]),
    getId() {
      return this.$route.params.id;
    }
  },
  data: () => ({
    getDate: "",
    snackbar: false,
    cheques: [],
    menu: false,
    modal: false,
    cheque: "",
    party: null,
    bank: null,
    query: "",
    deleteDialog: false,
    showDialog: false,
    isNew: true,
    isLoading: true,
    valid: false,
    errorMessages: [],
    pagination: {
      page: 0,
      length: 0,
      show: false
    }
  })
};
</script>
