<template>
  <v-snackbar v-model="snackbar" :timeout="4000" :itemName="itemName">
    {{ "This "+ itemName +" is used in multiple items. Cannot delete this item!" }}
    <v-btn color="pink" text @click="closeSnackBar">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  props: ["itemName", "snackbar"],
  methods: {
    closeSnackBar: function() {
      this.$emit("closeSnackBar");
    }
  }
};
</script>
