<template>
  <div class="text-center mt">
    <v-pagination
      v-model="page"
      :length="length"
      :total-visible="7"
      color="secondary"
      @input="pageClicked"
    ></v-pagination>
  </div>
</template>

<style scoped>
.mt {
  margin-top: 2rem !important;
}
</style>

<script>
export default {
  props: ['page', 'length'],
  methods: {
    pageClicked:  function (num) {
      this.$emit("goto",num);
    }
  }
};
</script>
