/* eslint-disable prettier/prettier */
<template>
  <v-app>
    <v-progress-linear background-color="blue" color="white" indeterminate v-show="isLoading" />
    <v-navigation-drawer
      app
      v-model="drawer"
      temporary
      v-if="isAuthenticated"
      color="#ffffff"
      :class="'no-print'"
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-icon style="font-size:40px">mdi-account-circle</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list nav dense>
        <router-link :to="{ name: 'home' }" style="text-decoration: none; color:black;">
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
              <v-list-item-title style="margin-left:30px">Home</v-list-item-title>
            </v-list-item-icon>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'banks' }" style="text-decoration: none; color:black;">
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-bank</v-icon>
              <v-list-item-title style="margin-left:30px">Banks</v-list-item-title>
            </v-list-item-icon>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'branches' }" style="text-decoration: none; color:black;">
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-library-books</v-icon>
              <v-list-item-title style="margin-left:30px">Branch</v-list-item-title>
            </v-list-item-icon>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'parties' }" style="text-decoration: none; color:black;">
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-account-multiple</v-icon>
              <v-list-item-title style="margin-left:30px">Party's</v-list-item-title>
            </v-list-item-icon>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'cheques' }" style="text-decoration: none; color:black;">
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-book-multiple</v-icon>
              <v-list-item-title style="margin-left:30px">Cheque</v-list-item-title>
            </v-list-item-icon>
          </v-list-item>
        </router-link>

        <v-list-item style="cursor:pointer">
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
            <v-list-item-title @click="logout()" style="margin-left:30px">Logout</v-list-item-title>
          </v-list-item-icon>
        </v-list-item>
        <!-- <router-link :to="{ name: 'reports' }" style="text-decoration: none; color:black;">
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-book</v-icon>
              <v-list-item-title style="margin-left:30px">Reports</v-list-item-title>
            </v-list-item-icon>
          </v-list-item>
        </router-link>-->
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app v-if="isAuthenticated" :class="'no-print'" color="#E3FFFF">
      <v-toolbar-title>
        <v-btn icon @click.stop="drawer = !drawer">
          <v-icon>mdi-hamburger</v-icon>
        </v-btn>
        <strong
          style="font-size:17px;color:rgba(0,0,0,.54)"
        >{{ $route.name ? $route.name.toUpperCase() : "" }}</strong>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <template v-if="$vuetify.breakpoint.smAndUp">
        <!-- <v-btn icon>
          <v-icon>mdi-help</v-icon>
        </v-btn>-->
        <!-- <v-btn icon>
          <v-icon>mdi-logout</v-icon>
        </v-btn>-->
      </template>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<style>
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
</style>

<script>
import { mapGetters } from "vuex";
import { LOGOUT } from "./store/actions.type";

export default {
  name: "App",
  methods: {
    logout() {
      this.$store
        .dispatch(LOGOUT)
        .then(() => this.$router.push({ name: "login" }))
        .catch(() => {
          this.snackbar = true;
        });
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated", "user"])
  },
  data: () => ({
    isLoading: false,
    showMenu: false,
    drawer: false
  })
};
</script>
